.box-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 20px;
}

.box {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 7px gray;
  display: flex;
  flex-direction: column;
}

.box-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.box-actions {
  display: flex;
  justify-content: end;
  gap: 5px;
}

.status {
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.status-0 {
  background-color: #88e04f;
  color: #29611c;
}

.status-1 {
  background-color: #ffb79a;
  color: #9c2b1b;
}

.status-2 {
  background-color: #f4a100;
  color: white;
}

@media (max-width: 500px) {
  .box-list {
    grid-template-columns: auto;
  }
}
