* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-family: sans-serif;
}

body {
  background-color: #effef9;
  margin: 0;
}

.input {
  width: 100%;
  height: 25px;
  border: 0;
  border: 1px solid grey;
  border-radius: 5px;
}

.input:focus {
  outline: none;
  border: 0;
  border-bottom: 2px solid #069b83;
}

.btn {
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
  border: 2px solid white;
  cursor: pointer;
}

.btn-primary {
  background-color: #069b83;
  color: white;
}

.btn-primary:hover {
  background-color: white;
  color: #069b83;
  border: 2px solid #069b83;
}

.btn-secondary {
  background-color: white;
  color: #069b83;
}

.btn-secondary:hover {
  background-color: #069b83;
  color: white;
  border: 2px solid white;
}

.btn-cancel {
  background-color: red;
  color: white;
}

.btn-cancel:hover {
  background-color: white;
  color: red;
  border: 2px solid red;
}

.textarea {
  min-width: 100%;
  height: 20dvh;
}
